.modalContainer {
  width: 100%; 
  min-height: 100vh;
  position: fixed;
  background-color: rgb(0,0,0,0.4);
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobNavContainer {
  max-width: 300px;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  min-height: 100vh;
  z-index: 2;
}

.iconsNav {
  max-width: 40px;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.4s;
  cursor: pointer;
}
.iconsNav:hover { background-color: #ebebeb;}

.mobNavContainer > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobNavContainer > ul > div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 18px;
}

.mobNavContainer > ul > li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  transition: all ease 0.3s;
}
.mobNavContainer > ul > li:hover {
  color: #00B2FF;
}

.mobNavContainer > ul > li:last-of-type {
  border-bottom: none;
}

.activeRouteMobile {
  border-left: 5px solid #00B2FF;
  font-weight: bold;
  color: #00B2FF;
}

.activeRouteDesktop {
  font-weight: bold;
  color: #00B2FF;
}

.li {
  list-style: none;
  cursor: pointer;
  transition: all ease 0.3s;
}
.li:hover {
  color: #00B2FF;
}